<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    
    <title>의정부시 대형 폐기물 처리 비용</title>
    <style>
        img.relative {
            position: relative;
            left: 25%;
            transform: translateX(-50%);
            top: 25px;
            max-width: 50%; /* 이미지가 화면을 넘지 않도록 설정 */
            height: auto;
        }
    </style>
    <link href="../static/css/bootstrap result.css" rel="stylesheet" />
    <link href="../static/css/coming-sssoon.css" rel="stylesheet" />    
    
    <!--     Fonts     -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
  
</head>

<body>
<nav class="navbar navbar-transparent navbar-fixed-top" role="navigation">  
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

      </ul>
      <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#"> 
                    <i class="fa fa-facebook-square"></i>
                    Share
                </a>
            </li>
             <li>
                <a href="#"> 
                    <i class="fa fa-twitter"></i>
                    Tweet
                </a>
            </li>
             <li>
                <a href="#"> 
                    <i class="fa fa-envelope-o"></i>
                    Email
                </a>
            </li>
       </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
<div class="main" style="background-image: url('../static/images/natural.jpg')">

<!--    Change the image source '/images/default.jpg' with your favourite image.     -->
    
    <div class="cover black" data-color="black"></div>
     
<!--   You can change the black color for the filter with those colors: blue, green, red, orange       -->

    <div class="container">
        
        <h1 class="logo cursive">
            
<!--  H1 can have 2 designs: "logo" and "logo cursive"           -->

        <img src="{{ url_for('static', filename='uploads/' + image_filename) }}" alt="Uploaded Image" class="relative">
        <div class="container">
            {% for table in tables %} 
            <h2>
                {{titles[loop.index]}}
            </h2>                             
            {{ table|safe }} 
            {% endfor %}
        
        <div class="content">
            
            
            <h4 class="motto">예측 결과: {{ label }}</h4>
            <div class="subscribe">
                <h5 class="info-text">
                    다시 업로드 하시려면 아래에서 파일을 선택하세요.
                </h5>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 col-sm6-6 col-sm-offset-3 ">
                        <form class="form-inline" role="form" action="/fileUpload" method="POST" enctype="multipart/form-data">
                          <div class="form-group">
                            <label class="sr-only" for="exampleInputEmail2">파일 선택</label>
                            <input type="file" class="form-control transparent" name="file" required>
                          </div>
                          <button type="submit" class="btn btn-danger btn-fill">제출하기</button>
                        </form>
                        <h6>다른 가구의 설명을 보고싶으시면 <a href="https://www.uiuc.or.kr/front">여기</a>를 클릭 하세요</h6>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="footer">
      <div class="container">
             Made with <i class="fa fa-heart heart"></i> by <a>Shinhan.UNV</a>. 
    </div>
 </div>
 </body>
   <script src="../static/js/jquery-1.10.2.js" type="text/javascript"></script>
   <script src="../static/js/bootstrap.min.js" type="text/javascript"></script>

</html>
